<div class="row">
   <div class="col-3">
      <app-filtered-products></app-filtered-products> 
    </div>
   
    <!-- [category]="category" -->
  
 
  <div class="col-9"> 
    <div class="row">
   <ng-container *ngFor="let product of filteredProducts ; let i = index">
  <div class="col-lg-3 col-md-6 mb-4" >
    <!-- Card-->
   
    <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4"><img [src]="product.category.photo" class="img-fluid d-block mx-auto mb-3">
            <h5> <a class="text-dark">{{product.name}}</a></h5>
            <p class="small text-muted font-italic">{{product.itemPrice | currency :' رس ': true}}</p>
            <ul class="list-inline small">
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <!-- <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li> -->
            </ul>
        </div>
    </div>
    <div *ngIf="(i+1) % 2===0" class="w-100" ></div>
  
  </div>
  </ng-container>
  </div>
  </div>
</div>
